@model IEnumerable<AvtokovchegApp.Domain.Core.User>

@{
    ViewBag.Title = "Список пользователей";
}
<h2>Список клиентов</h2>
<a asp-action="Create" class="btn btn-success btn-sm">Добавить пользователя</a>

<table class="table">
    <tr><th>Имя</th><th>Фамилия</th><th>Отчество</th><th>Телефон</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.Patronymic</td>
            <td>@user.PhoneNumber</td>
            <td>
                <form method="post" asp-controller="Users" asp-action="Delete" asp-route-userName="@user.UserName">
                    <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="Edit" asp-route-userName="@user.UserName">Изменить</a>
                    <a class="btn btn-sm btn-warning" asp-controller="Users" asp-action="ChangePassword" asp-route-userName="@user.UserName">Сменить пароль</a>
                    <a class="btn btn-sm btn-secondary" asp-controller="СontractSpace" asp-action="Create" asp-route-userId="@user.Id">Добавить договор</a>
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>