@model ProfileUserViewModel

@{
    ViewBag.Titele = "Личный кабинет";
}



@if (!User.IsInRole("admin"))
{
    <h2>@Model.Name @Model.Patronymic добро пожаловать в личный кабинет</h2>
    <div class="row">
        <div class="col-3">
            <h4>Информация о пользователе</h4>
            <div></div>
            <div>@Model.Name</div>
            <div>@Model.Patronymic</div>
            <div>@Model.Surname</div>
            <div>@Model.PhoneNamber</div>
            <a asp-action="" class="btn btn-sm btn-success">Редактировать</a>
        </div>

        <div class="col-9">
            @await Component.InvokeAsync("ContractCard", Model.Id)
        </div>
    </div>
}
@if (User.IsInRole("admin"))
{
    <h2>Добропожаловать в личный кабинет администратора</h2>
    <div class="container">
        <div>
            @await Component.InvokeAsync("GetRequest")
        </div>
    </div>
}

