@model ProfileUserViewModel

@{
    ViewBag.Titele = "Личный кабинет";
}

<h2>@Model.Name @Model.Patronymic добро пожаловать в личный кабинет</h2>

<div class="grid" style="--bs-columns: 18; --bs-gap: .5rem;">
    <div style="grid-column: span 14;">
        <h4>Информация о пользователе</h4>
        <div></div>
        <div>@Model.Name</div>
        <div>@Model.Patronymic</div>
        <div>@Model.Surname</div>
        <div>@Model.PhoneNamber</div>
        <a asp-action="" class="btn btn-sm btn-success">Редактировать</a>
    </div>

    <div class="col-md-4">

    </div>
</div>